spring:
  application:
    name: payment-routing-engine
  datasource:
    url: jdbc:postgresql://localhost:5432/payment_routing
    username: payment_user
    password: payment_pass
    jpa:
      hibernate:
        ddl-auto: validate
      properties:
        hibernate:
          jdbc:
            time_zone: UTC
    flyway:
      enabled: true
      locations: classpath:db/migration

  management:
    endpoints:
      web:
        exposure:
          include: health,info
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

logging:
  file:
    name: logs/payment-routing.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - [corr=%X{correlationId}] %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - [corr=%X{correlationId}] %msg%n"


